:root {
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Poppins", sans-serif;
    --primary-color: #E4F7FF;
    --secondary-color: #fbc7bf;
    --text-color: #757575;
    --background-color: #fff;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
}

.bg-light {
    background-color: var(--primary-color) !important; 
}

a.bg-light:hover, a.bg-light:focus, button.bg-light:hover, button.bg-light:focus {
    background-color: var(--secondary-color) !important;
}

small, .small {
    font-size: 80%;
    font-weight: 400;
}

.me-2, .mx-2 {
    margin-right: 0.5rem !important;
}

img {
    max-width: 100%;
    height: auto;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    border: none;
    margin-left: 16px;
}

/* Menú lateral */
.sidepanel {
    width: 0;
    position: fixed;
    z-index: 9999;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #070101;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #0f98f8;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.header {
    width: 100%;
    padding: 20px 30px;
    background: transparent;
    position: absolute;
    z-index: 999;
}

/* Botón del menú alineado correctamente */
#right_button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    padding-top: 12px;
}